.header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  width: 100vw;
  overflow-x: scroll;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.header::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.header {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.headerIcon {
  min-width: 200px;
  text-align: center;
}

.headerIcon > img {
  height: 80px;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}

.headerIcon:hover > img {
  transform: scale(1.2);
}
