.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  object-fit: contain;
  max-height: 90%;
  justify-self: flex-start;
}

.right {
  margin-top: 4vh;
  /* flex: 1; */
  margin-right: 5px;
  display: flex;
}

.rightItem {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.rightItem > p {
  display: none;
}

.rightItem:hover > p {
  height: 100%;
  font-size: 13px;
  display: block;
  color: rgb(75, 73, 73);
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.rightItemIcon {
  font-size: 50px !important;
  color: rgb(139, 139, 139);
}
