.catalog {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.catalog::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.catalog {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loading {
  display: grid;
  height: 100vh;
  place-items: center;
}

.main > h1 {
  color: rgb(139, 139, 139);
  letter-spacing: 5px;
  padding-left: 10px;
}

.main > img {
  width: 100vw;
  object-fit: contain;
  mask-image: linear-gradient(rgb(241, 243, 245), rgba(0, 0, 0, 0));
}
